div.element_1_presentation_accueil{
  width: 60%;
  animation: arrive 2s infinite;
}

@@keyframes arrive {
  0%{
    opacity:0.1;
  }
  50%{
    opacity: 0.75;
  }
  100%{
    opacity: 0.5;
  }
}

/* REVIEW: DEBUT DE PRESENTATION IMAGE TEXTE */
div.recul{
  margin-top: 75px;
}

#conteneur_global_presentation_accueil{
  display: flex;
  flex-direction: row;
  border:1px solid white;
  justify-content: center;
  width: 80%;
  margin:auto;
}



div.element_2_presentation_accueil{
  width: 50%;
  margin: auto;
}

p.gauche{
  text-align: left;
  margin-bottom: 10%;
  font-family: Forte, Times New Roman, Arial;
  font-size: 2em;
  color:white;
}

p.droite{
  text-align: right;
  font-weight: bold;
  
}
/* REVIEW: FIN DE PRESENTATION IMAGE TEXTE */
