*, html{
  margin: 0;
  padding: 0;
  background-color: #f1c40f;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  color: #333333;
}
h1{
  margin: 2%;
  text-align: center;
}
/* REVIEW: bibliotheque */
section#bibliotheque{
  margin: 2%;
}
/* REVIEW: // bibliotheque */
/* REVIEW: range */
.range{
  border-top: 6px solid #cd6133;
  border-left: 6px solid #cd6133;
  border-right: 6px solid #cd6133;
  display: flex;
  flex-direction: row;
  align-items:center;
  height: 400px;
}
/* REVIEW: // range */
/* REVIEW: bloc */
.bloc{
  border-right: 6px solid #cd6133;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  /*transform: rotate(-90deg);*/
}
/* REVIEW: // bloc */
/* REVIEW: livre */
.livre{
  display: block;
  height: 80%;
  width: 30px;
  text-decoration: none;
  border:2px solid green;
  writing-mode: sideways-lr;
}
/* REVIEW: //livre */
