/* REVIEW: DEBUT FORMULAIRE DE CONTACT */
#conteneur_formulaire{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.info_contact{
  width: 50%;
}

div.formulaire{
  width: 50%;
  max-width: 1400px;
  color:black;
}

div.centre_form{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

p.nom{
  /*color:rgb(247, 118, 105);*/
}

.nom_saisie{
  /*background-color: grey;*/
  border : 1px solid black;
  padding: 1%;
}

p.mail{
  /*color:rgb(255, 203, 107);*/
}

.email_saisie{
  /*background-color: grey;*/
  border : 1px solid black;
  padding: 1%;
}

p.objet{
  /*color: rgb(130, 170, 193);*/
}

.objet_saisie{
  /*background-color: grey;*/
  border : 1px solid black;
  padding: 1%;
}

p.message{
  /*color: rgb(197, 234, 141);*/
}

.message_saisie{
  /*background-color: grey;*/
  border : 1px solid black;
  padding: 1%;
}

p.antispam{
  /*color:rgb(247, 118, 105);*/
}

.antispam_saisie{
  /*background-color: grey;*/
  border : 1px solid black;
  padding: 1%;
}

.envoi{
  background-color: white;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 0.25;
  padding-right: 0.25;
  margin: 2%;
  border : 1px solid black;
}

/* REVIEW: DEBUT FIELDSET */
fieldset.nom_mail{
  border:1px solid black;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

legend.coordonnees{
  /*color:red;*/
}

fieldset.objet_mail{
  border:1px solid black;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

legend.message{
  /*color:red;*/
}

fieldset.antispam{
  border:1px solid black;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

legend.antispam{
  /*color:red;*/
}




/* REVIEW: FIN FIELDSET */

/* REVIEW: FIN FORMULAIRE DE CONTACT */
