*{
  margin: 0;
  background-color: rgb(52, 152, 219);
  font:normal 100% 'Poppins', Helvetica, sans-serif;
  color: white;
}
h1{
  margin: 2%;
  font-size: 3em;
  text-align: center;
  text-decoration: underline;
}
p{
  margin: 2%;
  font-style: 2em;
}
p span{
  font-style: italic;
  font-weight: bold;
  margin: 0;
}
form{
  margin: 2%;
}
form input, form textarea{
  border: 2px solid white;
  color:white;
  padding: 15px;
  margin: 10px;
}
form input::placeholder, form textarea::placeholder {
  color: white;
  opacity: 1;
}
div p{
  padding: 15px;
  background-color: #2d355f;
}
svg{
  color: white;
  background-color: #2d355f;
}
div p span{
  display: block;
  background-color: #2d355f;
  text-align: right;
  font-style: italic;
  font-weight: normal;
}
