/* REVIEW: debut de la page 3*/
div#page_3{
  height: calc(100vh - 150px);
  background-color: #f7f1e3;
  margin-top: 150px;
  width: 100%;
}

div#equipe_centre{
  margin: auto;
  display: block;
  width: 80%;
}

div.portrait{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;

  width: 100%;
}

div.portrait img{
  -webkit-border-radius:50px;
  -moz-border-radius:50px;
  border-radius:50px;
  width:90px;
  height:90px;
}

div.presentation_rapide{
  display: flex;
  flex-direction: column;
}

p.nom{
  margin: 0;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

p.fonction{
  margin: 0;
  color:black;
}

div.cadre{
  width: 100%;
  text-align: center;
}

div.conteneur_presentation{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items:center;
 max-width: 600px;
}

button{
  background-color: transparent;
  border:none;
}

button:active{
  border: none;
}

div.presentation_longue{
  text-align: justify;
  margin: 2%;
}
/* REVIEW: sidebar */
.presentation{

}

.presentation.active{
  left:0;
  display: block;
}

.affichage{

}

.affichage:before{
  content: '';
  display: none;
}

.presentation.active .affichage:before{
  display: block;
}

.presentation ul{

}

.presentation.active ul{

}

.presentation ul li a:before{

}

.presentation ul li a:hover:before{

}
/* REVIEW: fin sidebar */
/* REVIEW: fin de la page 3*/
