section#right span{
  font-weight: bold;
}
section#right{
  color: #777777;
}
section#right div{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
p#titre{
  color: #333333;
  font-weight: bold;
}
