.projet{
  border-left: 5px solid var(--main-bg-color);
  padding: 10px;
  margin-bottom: 25px;
}
h3{
  font-size: 1.25em;
}
h3 span{
  color:var(--main-bg-color);
}
.conteneur_flex{
  display: flex;
  justify-content: space-around;
}
.conteneur_flex div{
  width: 20%;
  display: flex;
  justify-content: center;
}
.conteneur_flex img, .conteneur_flex iframe{
  display: block;
  max-width: 100%;
  max-height: 400px;
}
.conteneur_flex p{
  display: block;
  width: 80%;
}
