.conteneur_sponsors{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin: auto;
}
.conteneur_sponsors img{
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 0;
  margin-bottom: 0;
}
.conteneur_sponsors p{
  font-size: 2em;
  text-align: justify;
}
