div.element_1_presentation_accueil{
  width: 60%;
}

div.element_2_presentation_accueil{
  width: 50%;
  margin: auto;
}

/* REVIEW: DEBUT DE PRESENTATION IMAGE TEXTE */

#accueil{
  width: 80%;
  margin: auto;
  text-align: center;
}
#accueil h1{
  font-weight: bold;
  font-family: Brush Script MT;
  text-decoration: underline;
  text-underline-position: under;
  color: white;
  font-size: 4em;
}
#accueil h2{
  font-weight: bold;
  font-family: Algerian;
  text-decoration: none;
  color: white;
  font-size: 2em;
}

#conteneur_global_presentation_accueil{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin:auto;
}



p.gauche{
  text-align: left;
  margin-bottom: 10%;
  font-family:Times New Roman, Arial;
  font-size: 2em;
  color:black;
  text-decoration: none;
}

/*h1{
  font-weight: bold;
  font-family: Brush Script MT;
  text-decoration: none;
  color: white;
  font-size: 4em;
}*/

p.droite{
  text-align: right;
  font-weight: bold;
  font-size: 1.8em;
}
/* REVIEW: FIN DE PRESENTATION IMAGE TEXTE */

/* REVIEW: DEBUT DE LA PRESENTATION DE L'ACCUEIL */
div.presentation_accueil{
  margin-top: 2%;
  background-color: rgb(77, 77, 77);
  color:white;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  font-size: 2.5em;
}

/* REVIEW: FIN DE LA PRESENTATION DE l'ACCUEIL */
