.ordi{
  background-color: black;
  margin-top: 10%;
  border: 10px solid white;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%;
  font-family:courier;
  background-color:rgb(62,62,62);
  max-width: 1400px;
}


.ecriture_1{
  color:white;
  text-align: justify;
  font-size: 1.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0,255,0);; /* The typwriter cursor */
  white-space: pre-line; /* Keeps the content on a single line */
   /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.ecriture_2{
  color:white;
  text-align: justify;
  font-size: 1.5em;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0,255,0);; /* The typwriter cursor */
  white-space:pre-wrap;; /* Keeps the content on a single line */
   /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

.ecriture_js{
  color:white;
  text-align: justify;
  font-size: 1.5em;
}

#bloc{
  margin: auto;
  color:white;
    font-size: 1.5em;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0,255,0);; }
}

input.fonctionnement{
  font-size: 0.8em;
  padding: 1%;
  font-family:courier;
  background-color:rgb(62,62,62);
  color: white;

}
